<section id="brand-partners" class="bg-night">
    <div class="container mx-auto text-center px-4 py-40">
        <div class="space-y-6">
            <h2 class="text-warmwhite">Our Brand-Partners</h2>
            <p class="text-warmwhite text-2xl">We’re proud to import and distribute some of the world’s finest home audio products from these select manufacturers.</p>
        </div>
        <div class="grid grid-cols-3">
            {{taxonomy:brands}}
            <div class="p-20 brandlogo">
                <a href="{{url}}">
                    <div class="h-60 bg-no-repeat bg-contain bg-center" style="background-image: url('{{logo}}');"></div>
                </a>
            </div>
        {{/taxonomy:brands}}
        </div>
    </div>
    
</section>