<section class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="light spacer_large">Our <span style="font-weight: 800;">{{sell}}</span> dealers</h1>
             
            </div>
            <div class="col-sm-12">
                {{partial:_tape line="East"}}
                    {{partial:_dealerRegionBrandPage DR="east-coast"}}
               
                {{partial:_tape line="Central"}}
                    {{partial:_dealerRegionBrandPage DR="central"}}
          
                {{partial:_tape line="West"}}
                    {{partial:_dealerRegionBrandPage DR="west-coast"}}
            </div>
        </div>
    </div>
</section>