<section id="dealers" class="darksection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 offset-md-1">
                <h1>Our <span style="font-weight: 800;">{{sell}}</span> dealers</h1>
                {{collection:pages title:is="dealers"}}
                    <div class="spacer">{{blurb}}</div>
                {{/collection:pages}}
            </div>
            <div class="col-sm-10 offset-md-1">
                {{partial:_tape line="East"}}
                    {{partial:_dealerRegionBrandPage DR="east-coast"}}
               
                {{partial:_tape line="Central"}}
                    {{partial:_dealerRegionBrandPage DR="central"}}
          
                {{partial:_tape line="West"}}
                    {{partial:_dealerRegionBrandPage DR="west-coast"}}
            </div>
        </div>
    </div>
</section>