<div class="swiper dealerSwiper spacer" style="padding-top: 78px; margin-top: -78px;">
    <div class="swiper-wrapper">
        {{collection:dealers brands:contains="{slug}" dealer_region:is="{DR}"}}
            {{if no_results}}
            No dealers here ... yet!
            {{else}}
            <div class="swiper-slide">
                <h2>{{title}}</h2>
                <p style="font-weight: 800; margin-bottom: 0;">{{dealer_address:name}}</p>
                <div style="margin-top: .5em;">
                    {{dealer_address:street}} <br>
                    {{ if dealer_address:street2 }}
                        {{dealer_address:street2}} <br>
                    {{ /if }}
                    {{dealer_address:city}}, {{dealer_address:state}} <br>
                    {{dealer_address:postCode}}<br>
                </div>
                
                <div style="margin-top: .5em;">
                    {{ if phone }}
                    <i class="las la-phone"></i> {{phone}}<br>
                    {{/if}}
                    {{ if email }}
                    <i class="las la-envelope"></i> <a href="mailto:{{email}}?subject=Inquiry about {{page:title}}">{{email}}</a><br>
                    {{/if}}
                    {{ if website }}
                    <i class="las la-laptop"></i> <a href="{{website}}" target="_blank">{{website}}</a></p>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        {{/collection:dealers}}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>