<section id="featured-products" class="spacer_large lightsection">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="spacer_small ruled">Featured Products</h2>
            </div>
        </div>
        <div class="swiper featuredSwiper" style="padding-top: 88px; margin-top: -88px;">
            <div class="swiper-wrapper">
            {{collection:products featured:is="true"}}
                <div class="swiper-slide">
                    <a href="{{url}}">
                        <div class="featuredcard" style="background-image: url({{images:0:url}});"></div>
                        <div>
                            <h3>{{brands:title}} / {{title}}</h3>
                            <p>{{why_featured}}</p>
                        </div>
                    </a>
                </div>
            {{/collection:products}}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>