<section id="featured-products" class="spacer_large lightsection">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="spacer_small">Featured Products</h1>
            </div>
        </div>
        <div class="swiper featuredSwiper" style="padding-top: 88px; margin-top: -88px;">
            <div class="swiper-wrapper">
            {{collection:products featured:is="true"}}
                <div class="swiper-slide">
                    <a href="{{url}}">
                        <div class="featuredcard" style="background-image: url({{images:0:url}});"></div>
                        <p class="meta">{{brands:title}} / {{title}}</p>
                        <p style="margin-bottom:0;">&mdash;</p>
                        <p>{{why_featured}}</p>
                    </a>
                </div>
            {{/collection:products}}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>