<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="brandgold">Music for Life</h3><br>
                <p>&copy; {{ now format="Y" }} Fidelis Distribution</p>
            </div>
            <div class="col-md-6 col-lg-4">
                <h3 class="brandgold">Contact Us</h3><br>
                <p>phone: {{phone_number}}</p>
                <p>fax: {{fax_number}}</p>
                <p>email: {{email}}</p>
            </div>
        </div>
    </div>
</footer>