<section id="news-section" class="bg-slate text-warmwhite relative mt-[90vh]">
    <div class="container mx-auto px-4 py-40 text-center space-y-8">
        <div class="space-y-6">
            <h2>News + Reviews</h2>
            <p class="text-warmwhite text-2xl">The word on the street on our brand-partners’ industry-leading products</p>
        </div>
        
        <div class="swiper newsSwiper space-y-8">
            <div class="swiper-wrapper">
                {{collection:news_and_reviews sort="date:desc"}}
                    {{if no_results}}
                    <p>No news items ... yet!</p>
                    {{else}}
                    <div class="swiper-slide">
                        <a href="{{url}}">
                            <div style="background-image: url({{image}});" class="h-96 bg-cover bg-center bg-no-repeat"></div>
                            <div class="bg-night px-8 py-8 pt-6 space-y-6">
                                <div class="flex flex-row justify-between">
                                    <div class="rounded-2xl bg-grey text-slate px-4 py-1 text-sm tracking-wider">{{article_type:title}}</div>
                                    {{date}}
                                </div>
                                <h3 class="text-left text-2xl font-bold leading-snug">{{title}}</h3>
                            </div>
                        </a>
                    </div>
                    {{/if}}
                {{/collection:news_and_reviews}}
            </div>
            <div class="flex flex-row bg-red h-20 mx-auto items-center relative">
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>