<section id="news" class="spacer">
    <div class="container topspacer_small">
        <div class="row spacer_small">
            <div class="col-sm-12">
                <div class="stacked ruled">
                    <h2 class="light">News + Reviews</h2>
                    <h3 class="selective_show"><a href="/news-reviews">See more</a></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="row spacer_small">
                    <div class="col-sm-12">
                        {{collection:news_and_reviews limit="1" sort="date:desc"}}
                            <a href="{{url}}">
                                <div class="news-item_main" style="background-image: url({{image}}); ">
                                    <div class="news-item_main_title">
                                        <h4>{{article_type:title}}</h4>
                                        <h3>{{title}}</h3>
                                        <h5>{{date}}</h5>
                                    </div>
                                </div>
                            </a>
                        {{/collection:news_and_reviews}}
                    </div>
                </div>
                <div class="row">
                    {{collection:news_and_reviews sort="date:desc" offset="1" limit="2"}}
                        <div class="col-md-6 spacer">
                            <a href="{{url}}">
                                {{partial:newsItem}}
                            </a>
                        </div>
                    {{/collection:news_and_reviews}}
                </div>
            </div>
            <div class="col-lg-5">
                <!-- <h2 class="verticalEmphasis spacer_small">...that you can use!</h2> -->
                {{collection:news_and_reviews sort="date:desc" offset="3"}}
                <a href="{{url}}">
                    <div class="news-item_small">
                        <div class="row">
                            <div class="col-md-4" style="position: relative;">
                                <div class="news-item_image" style="background-image: url({{image}});"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="news-item_small_text">
                                    <h4>{{article_type:title}}</h4>
                                    <h3>{{title}}</h3>
                                    <h5>{{date}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {{/collection:news_and_reviews}}
            </div>
        </div>
    </div>
</section>