<div style="position: absolute; right: 30px; top: 18px; z-index: -999; opacity: .8; mix-blend-mode: multiply; height: 60vh; width:66%; background-image: url('{{images:0:url}}'); background-size: contain; background-position: center; background-repeat: no-repeat;"></div>

<div class="row spacer">
    <div class="col-md-6 offset-md-2" style="margin-top: 40vh;">
        {{partial:tape line="{brands:title}"}}
        <div class="title">{{title}}</div>
        <p class="meta">${{pricing}}</p>
    </div>
</div>