<!-- <div style="height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: -9999; opacity: .05; background: url({{collection:musical_heroes sort='random' limit='1'}}{{assets_field}}{{/collection:musical_heroes}}); background-position: top; background-size: cover; z-index: -999;"></div> -->

<div class="darksection">
    <div class="container">
        <div class="row topspacer spacer_large">
            <div class="col-md-12">
                <!-- <h1 class="spacer dark">Spread the passion!</h1> -->
                <h1 style="max-width: 100%; margin-bottom: 1em;">{{heading}}</h1>
                <h2 class="light" style="max-width: 100%;">{{blurb}}</h2>
            </div>
        </div>
    </div>
</div>