<div style="height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: -9999; opacity: .05; background: url({{collection:musical_heroes sort='random' limit='1'}}{{assets_field}}{{/collection:musical_heroes}}); background-position: top; background-size: cover; z-index: -999;"></div>

<div class="container">
    <div class="row topspacer_large spacer_large">
        <div class="col-md-8 offset-md-2">
            <h1 class="spacer">Let's spread the passion!</h1>
            {{blurb}}
        </div>
    </div>
</div>

{{partial:footer}}