<!-- <div style="height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: -9999; opacity: .2; background: url({{collection:musical_heroes sort='random' limit='1'}}{{assets_field}}{{/collection:musical_heroes}}); background-position: top; background-size: cover; z-index: -999;"><div class="fadeout"></div></div> -->

<section id="dealers" style="position: relative; padding-top: 32vh;" class="darksection">
  <div style="height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: -9999; opacity: .4; background: url({{collection:musical_heroes sort='random' limit='1'}}{{assets_field}}{{/collection:musical_heroes}}); background-position: top center; background-size: cover; z-index: -999;"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 offset-md-1">
                <h1 style="margin-bottom: 1em;">{{heading}}</h1>
                {{collection:pages title:is="dealers"}}
                    <h2 class="light spacer_large">{{blurb}}</h2>
                {{/collection:pages}}
            </div>
            <div class="col-sm-10 offset-md-1">
                {{partial:_tape line="East"}}
                {{partial:_dealerRegion DR="east-coast"}}
               
                {{partial:_tape line="Central"}}
                {{partial:_dealerRegion DR="central"}}
          
                {{partial:_tape line="West"}}
                {{partial:_dealerRegion DR="west-coast"}}
            </div>
        </div>
    </div>
</section>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".dealerSwiper", {
      slidesPerView: 3.25,
      spaceBetween: 30,
      navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>