{{partial:hero}}

{{partial:news}}

{{partial:brandpartners}}

<section id="dealers_home" class="parent spacer_large">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="dark spacer">Our <span style="font-weight: 800;">{{sell}}</span> dealers</h1>
                <!-- {{collection:pages title:is="dealers"}}
                    <div class="spacer">{{blurb}}</div>
                {{/collection:pages}} -->
            </div>
            <div class="col-sm-12">
                {{partial:_tape line="East"}}
                {{partial:_dealerRegion DR="east-coast"}}
               
                {{partial:_tape line="Central"}}
                {{partial:_dealerRegion DR="central"}}
          
                {{partial:_tape line="West"}}
                {{partial:_dealerRegion DR="west-coast"}}
            </div>
        </div>
    </div>
</section>




<section id="services" class="parent spacer_large" style="position: relative; margin-bottom: -200px;">
    <div class="container-fluid">
        <div class="row spacer">
            <div class="col-lg-7">
                <div style="height: 100%; width: 100%; left: 10%; background: url({{collection:musical_heroes sort='random' limit='1'}}{{assets_field}}{{/collection:musical_heroes}}); background-position: top; background-size: cover;"></div>
            </div>
            <div class="col-sm-5" style="padding: 20vh 60px;">
                <h2 class="ruled spacer_small">Our services</h2>
                {{services_offered}}
                    <h3>{{heading}}</h3>
                    <p class="spacer_small">{{description}}</p>
                {{/services_offered}}
            </div>
        </div>
    </div>
</section>

<!-- <section id="testimonials" class="spacer_large">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{collection:testimonials limit="1"}}
                    <h2 style="font-style: italic;">{{testimonial}}</h2>
                    <p class="meta">{{attribution}}</p>
                {{/collection:testimonials}}
            </div>
        </div>
    </div>
</section> -->



<!-- <section id="dealers" class="darksection">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Our dealers</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{partial:_tape line="East"}}
                    {{partial:_dealerRegion DR="east-coast"}}
                <hr class="spacer">
                {{partial:_tape line="Central"}}
                    {{partial:_dealerRegion DR="central"}}
                <hr class="spacer">
                {{partial:_tape line="West"}}
                    {{partial:_dealerRegion DR="west-coast"}}
            </div>
        </div>
    </div>
</section> -->







