<!-- <section>

</section> -->

<section class="spacer" style="position: relative;">
    <div style="height: 100vh; width: 100%; position: absolute; top: 0; left: 0; z-index: -9999; opacity: .075; background: url({{collection:musical_heroes sort='random' limit='1'}}{{assets_field}}{{/collection:musical_heroes}}); background-position: top; background-size: cover; mix-blend-mode: multiply; z-index: -999;"></div>
    <div class="container" style="padding-top: 45vh;">
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <!-- {{partial:tape line="30 years of excellence"}} -->
                <div class="title">You can’t expect great music without great equipment.</div>
                <p>{{blurb}}</p>
            </div>
        </div>
    </div>    
</section>

<section id="brand-partners" class="spacer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Our Brand Partners</h2>
                <hr>
                {{taxonomy:brands}}
                    <a href="{{url}}">
                        <h1 style="font-size: 120px; line-height: 150px; text-align: center; transition: all 1s;">{{title}}</h1>
                        <p class="meta spacer" style="text-align: center;">{{byline}}</p>
                        <hr>
                    </a>
                {{/taxonomy:brands}}
            </div>
        </div>
    </div>
</section>

<section id="featured-products" class="spacer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Featured Products</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                {{collection:products featured:is="true" limit="4"}}
                    <div class="col md 3">
                        <a href="{{url}}">
                            <img src="{{images:0:url}}" width="100%" alt="{{title}}">
                            <h3>{{title}}</h3>
                        </a>
                    </div>
                {{/collection:products}}
            </div>
        </div>
</section>

<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>What's been happening recently</h2>
                <hr>
            </div>
        </div>
    </div>
</section>


<!-- <section class="spacer">
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{collection:featured}}
                        <div class="swiper-slide" style="padding-top: 40vh; height: 80vh; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 30px; background-image: url({{image}}); background-size: cover; background-position: center; background-repeat: no-repeat;">
                            <div class="dimmer"></div>
                            {{partial:tape line="{title}"}}
                        </div>
                        {{/collection:featured}}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    
</section> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-sm-12">
                    {{partial:tape line="brand partners"}}
                    <p>{{brand_partners_blurb}}</p>
                </div>
            </div>
            <div class="row">
                {{taxonomy:brands}}
                    <div class="col-md-6">
                        {{partial:_brandherolockup}}
                            <p>{{byline}}</p><a href="{{url}}"></a>
                        {{/partial:_brandherolockup}}
                    </div>
                {{/taxonomy:brands}}
            </div>
        </div>
    </div>
</div> -->

<section id="tetimonial">

</section>

<!-- <section id="news">

</section> -->

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".coretech", {
        slidesPerView: 1,
        centeredSlides: true,
        spaceBetween: 30,
        grabCursor: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
    });
  </script>