$black: #505050;
$blackmuted: #87899b;
$blackmuted: #a6aac5;
$blackmutedintense: #43455e;
$warmblack: #3a3831;
$light: #fdfeff;
$bodybackground: #3E4D64;
$bodybackgroundPTA: #41434e;
$pop: #e7d1ac;
$blackglass: hsla(220, 82%, 2%, 0.47);
$red: #D96D6D;
$midnight: #0B1934;
$wetpaint: #EEF0F3;
$wheatgold: #e7d1ac;

$whitesand: #EFEFEF;
$whitesand_light: #f9f9f9;
$sand: #F8F8EC;
$cactus: #ace7bd;
$darkcactus: #404B48;
$neoncactus: #40E7B5;
$dimsand: #DDDACE;
$background: #020921;
$blueblack: #212529;
$earth: #755836;
$grey: #505559;
$blast: #40d8e7;
$chalkblue: #4363f3;

// light
$mutedblack: #363a42;
$link: #19ad89;


//RATM
$dark: #262936;
$dark-seethrough: #262936f5;
$dark_lighter: #414250;
$dark_darker: #5a5e74;
$fatigue: #9da1a0;
$bright: #dcdff1;
$bright_mist: #e8f0f5;
$purple: #6a77d1;
$blast: #69d9a0;
$blast: #9c96d3;
$blast: #bbb7df;
// $blast: #00ffb9;