$black: #505050;
$warmblack: #3a3831;
$light: #fdfeff;
$bodybackground: #3E4D64;
$pop: #e7d1ac;
$blackglass: hsla(220, 82%, 2%, 0.47);
$red: #D96D6D;
$midnight: #0B1934;
$wetpaint: #EEF0F3;
$wheatgold: #e7d1ac;

$whitesand: #EFEFEF;
$whitesand_light: #f9f9f9;
$sand: #F8F8EC;
$cactus: #ace7bd;
$darkcactus: #404B48;
$neoncactus: #40E7B5;
$dimsand: #DDDACE;
$background: #020921;
$blueblack: #212529;
$earth: #755836;
$grey: #505559;
$chalkblue: #40a9e7;

// light
$mutedblack: #363a42;
$link: #19ad89;