#nav {
    position: fixed;
    height: 60px;
    list-style-type: none;
    & li {
        display: inline-block;
        text-transform: uppercase;
        padding: 6px 12px;
        & a {
            text-decoration: none;
            color: $light;
        }
        & .current {
            color: $black !important;
            text-decoration: underline;
        }
    }
}
.pop {
    color: $pop;
}