#homehero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    height: 45%;
}
#logo {
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 9999;
}
#nav {
    height: 45px;
    background-color: $blueblack;
    border-radius: 3px;
    list-style-type: none;
    display: flex; flex-direction: row; text-align: right; z-index: 9999; position: fixed; top: 12px; right: 45px;
    & li {
        display: inline-block;
        text-transform: uppercase;
        padding: 0px 15px;
        & a {
            text-decoration: none;
            &:hover {
                color: $whitesand;
            }
        }
        & .active {
            color: $whitesand;
        }
    }
}
.navbar-expand-md .navbar-nav {
    flex-direction: column;
}
.nav-link {
    color: $chalkblue;
}
.breadcrumbs {
    position: fixed;
    right: -150px;
    transform: rotate(-90deg);
    top: 285px;
}
.pop {
    color: $pop;
}
.dimmer {
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .3;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}
#brand-partners {
    background-color: white;
    color: $grey;
    padding: 30px 60px;
    border-radius: 30px;
    & .meta {
        color: $darkcactus;
    }
}
.brandlogo {
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    &:hover {
        translate: 0 -3px;
        transition: all .5s;
    }
}
.darksection{
    background-color: $blackglass;
    padding: 60px 0;
}
.lightsection{
    background-color: $whitesand;
    padding: 60px 0;
    & a {
        color: $grey;
    }
    & h1, .meta {
        color: $blueblack;
    }
}
.box {
    background-color: $blackglass;
    padding: 60px 50px;
    width: 541px;
    position: absolute;
    left: 150px;
    bottom: -15%;
    border-radius: 3px;
}
.fadeout {
    background: linear-gradient(180deg, rgba(11, 25, 52, 0) 0%, #0B1934 100%);
    height:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.topspacer {
    margin-top: 200px;
}
.spacer {
    margin-bottom: 60px;
}
.spacer_small {
    margin-bottom: 30px;
}
.spacer_large {
    margin-bottom: 120px;
}
.page-spacer {
    margin-bottom: 144px;
}
.news-item {
    &:hover {
        color: inherit;
        & p {
            text-decoration: underline;
        }
        & .meta {
            text-decoration: none;
        }
    }
}
.card {
    height: auto;
}
.featuredcard {
    border-radius: 3px; background-color: white; margin-bottom: 15px; width: 100%; height: 250px; background-size: 100%; background-repeat: no-repeat; background-position: center;
    transition: all .5s;
    &:hover {
        background-size: 110%;
        transition: all .5s;
    }
}
.brandcard {
    // background-color: white;
    padding: 18px 20px 60px 20px;
    margin-bottom: 30px;
    & p {
        color: $dimsand;
    }
}
.tape {
    background-color: rgba(255, 255, 255, 0.86);
    background-color: $chalkblue;
    padding: 18px 15px;
    z-index: 9999;
    display: inline-block;
    margin-bottom: 18px;
    color: $background;
}
.swiper-button-next {
    right: 0;
    top: 30px;
    left: auto;
    color: $darkcactus;
    &:after {
        font-size: 24px;
    }
}
.swiper-button-prev {
    right: 30px;
    top: 30px;
    left: auto;
    color: $darkcactus;
    &:after {
        font-size: 24px;
    }
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -10px;
}
.tab-pane {
    padding-top: 30px;
}
footer {
    background-color: $chalkblue;
    padding: 60px 0;
}