#nav {
    position: fixed;
    height: 60px;
    list-style-type: none;
    & li {
        display: inline-block;
        text-transform: uppercase;
        padding: 6px 12px;
        & a {
            text-decoration: none;
            color: $light;
        }
        & .current {
            color: $black !important;
            text-decoration: underline;
        }
    }
}
.pop {
    color: $pop;
}

#news {
    background-color: $blackglass;
    height: 50vh;
    width: 100%;
}
.box {
    background-color: $blackglass;
    padding: 60px 50px;
    color: $pop;
    width: 541px;
    position: absolute;
    left: 150px;
    bottom: 30%;
    border-radius: 3px;
}
.fadeout {
    background: linear-gradient(180deg, rgba(11, 25, 52, 0) 0%, #0B1934 100%);
    height:330px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.page-spacer {
    margin-bottom: 144px;
}
.card {
    height: auto;
}