.news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    min-height: 400px;
    box-shadow: $blackglass 0 3px 17px 3px;
    transition: all .5s;
    &:hover {
        color: inherit;
        translate: 0 -3px;
        transition: all .5s;
        & p {
            text-decoration: underline;
        }
        & .meta {
            text-decoration: none;
        }
    }
}
.news-item_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    width: 100%;
}
.news-item_text {
    height: 50%;
    width: 100%;
    padding: 15px 30px;
    background-color: $whitesand;
    color: $grey;
}