#news {
    & h1 {
        color: $blackmuted;
    }
    & h2 {
        color: $dark_darker;
    }
    & a {
    color: $bright;
    }
    &:hover {
        color: $chalkblue;
    } 
}
.news-item_small {
    background-color: $dark_lighter_seethrough;
    border-radius: 3px;
    transition: all .1s;
    // box-shadow: $basic;
    // box-shadow: #00000040 0px 8px 11px 1px;

    margin-bottom: 15px;
    overflow: hidden;
    & .news-item_image {
        height: 100%;
        border-bottom: none;
    }
    &:hover {
        color: inherit;
        background-color: $dark_lighter_hover_seethrough;
        // translate: 0 -3px;
        transition: all .1s;
        // box-shadow: $hover;
        & p {
            text-decoration: underline;
        }
        & .meta {
            text-decoration: none;
        }
    }
    & .news-item_small_text {
        padding: 12px 6px;
    }
}
.news-item {
    position: relative;
    height: 100%;
    border-radius: 3px;
    background-color: $dark_lighter_seethrough;
    overflow: hidden;
    padding-bottom: 120%;
    margin-bottom: 24px;
    // box-shadow: #00000040 0px 8px 11px 1px;
    transition: all .1s;
    &:hover {
        color: inherit;
        background-color: $dark_lighter_hover_seethrough;
        // translate: 0 -3px;
        transition: all .1s;
        // box-shadow: #5055594d 0 3px 30px 2px;
        & p {
            text-decoration: underline;
        }
        & .meta {
            text-decoration: none;
        }
    }
} 
.news-item_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}
.news-item_text {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-item_main {
    border-radius: 3px; 
    position: relative; 
    // box-shadow: #50555924 0 3px 30px 2px; 
    display: flex; 
    flex-direction: column; 
    justify-content: end; 
    padding-bottom: 18px; 
    width: 100%;
    padding-bottom: 70%;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    transition: all .1s;
    overflow: hidden;
    &:hover {
        color: inherit;
        // translate: 0 -3px;
        transition: all .1s;
        // box-shadow: $hover;
        & p {
            text-decoration: underline;
        }
        & .meta {
            text-decoration: none;
        }
    }
}
.news-item_main_title {
    position: absolute;
    bottom: 30px;
    color: $dark;
}