$sans: aktiv-grotesk, sans-serif;
$mono: interstate-mono, monospace;
// $sans-italic: 'Protipo W05 Light Italic';
// $sans-semibold: 'Protipo W05 Semibold';
// $sans-semibolditalic: 'Protipo W05 Semibold Italic';
// $sans-black: 'Protipo Wide W05 Black';
// $sans-blackitalic: 'Protipo Wide W05 Black Italic';

body {
    font-family: $sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 167% */
    letter-spacing: 0.01em;
    color: $blackmuted;
}
.card {
    color: $black;
}
.title {
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    color: $chalkblue;
    color: $blackmuted;
}
// .super-title {
//     font-weight: normal;
//     font-size: 84px;
//     letter-spacing: -0.04em;
//     line-height: 108px;
//     color: $wheatgold;
// }
h1 {
    font-size: 72px;
    line-height: 84px;
    font-weight: 600;
}
h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}
h3 {
    font-family: $mono;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-bottom: 0;
}
.meta {
    font-size: 13px;
    font-weight: 300;
    font-family: $mono;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 0;
}
.halflineheight {
    line-height: 21px;
}
a {
    color: $chalkblue;
    text-decoration: none;
    &:hover {
        color: $whitesand;
    }
    &.underline {
        border-bottom: solid 3px $blast;
        padding-bottom: 3px;
    }
}
.bold {
    font-weight: 600;
    font-size: 1.2em;
}
.link {
    color: $chalkblue;
    font-weight: 600;
}