$sans: 'LabilLight', sans-serif;
$sansRegular: 'LabilRegular', sans-serif;
$mono: interstate-mono, monospace;
// $sans-italic: 'Protipo W05 Light Italic';
// $sans-semibold: 'Protipo W05 Semibold';
// $sans-semibolditalic: 'Protipo W05 Semibold Italic';
// $sans-black: 'Protipo Wide W05 Black';
// $sans-blackitalic: 'Protipo Wide W05 Black Italic';

@font-face {
    font-family: 'LabilThin';
    src: url('/fonts/LabilGroteskTrial-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LabilLight';
    src: url('/fonts/LabilGroteskTrial-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LabilRegular';
    src: url('/fonts/LabilGroteskTrial-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'LabilMedium';
    src: url('/fonts/LabilGroteskTrial-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.02em;
}
@font-face {
    font-family: 'LabilBold';
    src: url('/fonts/LabilGroteskTrial-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.02em;
}

body {
    font-family: 'LabilRegular';
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: $dark;
}
.dark {
    color: $dark;
}
.light {
    color: $bright;
}
.lighter {
    color: $white;
}
.highlight {
    color: $highlight;
}
.fatigue {
    color: $fatigue;
}
.ruled {
    padding-bottom: .25em;
    border-bottom: solid 1px;
}
.card {
    color: $black;
}
h1 {
    font-family: 'LabilMedium';
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: $bright;
    @media (min-width: $lg) {
        max-width: 75%;
        font-size: 72px;
        line-height: 72px;
    }
}
h2 {
    font-family: 'LabilMedium';
    font-weight: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    @media (min-width: $lg) {
        font-size: 36px;
        line-height: 36px;
    }
}
h3 {
    font-family: 'LabilBold';
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}
h4 {
    font-family: 'LabilRegular';
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}
h5 {
    font-family: 'LabilRegular';
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.large {
    font-size: 21px !important;
    line-height: 33px !important;
    font-family: 'LabilRegular';
}
.nav-link {
    margin: 0;
    font-family: 'LabilMedium';
    color: $bright_mist;
}
.halflineheight {
    line-height: 21px;
}
a {
    color: $highlight;
    text-decoration: none;
    &:hover {
        color: $highlight;
        border-bottom: solid 1px $fatigue;
        transform: translateY(0.5px);
    }
    &.underline {
        border-bottom: solid 3px $blast;
        padding-bottom: 3px;
    }
}
.bold {
    font-weight: 600;
    font-size: 1.2em;
}
.link {
    color: $highlight;
    font-weight: 600;
}