.card {
    color: $black;
}
.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
}
.super-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 108px;
}
h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.halflineheight {
    line-height: 21px;
}
a {
    color: $red;
    text-decoration: none;
}