body {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  letter-spacing: 0.01em;
  color: #DDDACE;
}

.card {
  color: #505050;
}

.title {
  font-weight: 800;
  font-size: 84px;
  line-height: 84px;
  color: #40E7B5;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-family: interstate-mono, monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.meta {
  font-size: 16px;
  font-weight: 400;
  font-family: interstate-mono, monospace;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.halflineheight {
  line-height: 21px;
}

a {
  color: #19ad89;
  text-decoration: none;
  color: #40E7B5;
}

body {
  background-color: #020921;
  overflow-x: hidden;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logo {
  position: fixed;
  top: 32px;
  left: 0;
  z-index: 9999;
}

#nav {
  position: absolute;
  height: 32px;
  top: 32px;
  right: 30px;
  list-style-type: none;
}
#nav li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 12px;
}
#nav li a {
  text-decoration: none;
  margin-bottom: 18px;
}
#nav li .active {
  color: #ace7bd;
}

.navbar-expand-md .navbar-nav {
  flex-direction: column;
}

.nav-link {
  color: #19ad89;
}

.breadcrumbs {
  position: fixed;
  right: -150px;
  transform: rotate(-90deg);
  top: 285px;
}

.pop {
  color: #e7d1ac;
}

.dimmer {
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.3;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

#news {
  background-color: hsla(220deg, 82%, 2%, 0.81);
  height: 50vh;
  width: 100%;
}

.box {
  background-color: hsla(220deg, 82%, 2%, 0.81);
  padding: 60px 50px;
  width: 541px;
  position: absolute;
  left: 150px;
  bottom: -15%;
  border-radius: 3px;
}

.fadeout {
  background: linear-gradient(180deg, rgba(11, 25, 52, 0) 0%, #0B1934 100%);
  height: 330px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.spacer {
  margin-bottom: 60px;
}

.page-spacer {
  margin-bottom: 144px;
}

.card {
  height: auto;
}

.brandcard {
  padding: 18px 20px 60px 20px;
  margin-bottom: 30px;
}
.brandcard p {
  color: #DDDACE;
}

.tape {
  background-color: rgba(255, 255, 255, 0.86);
  background-color: #40E7B5;
  padding: 18px 15px;
  z-index: 9999;
  display: inline-block;
  margin-bottom: 18px;
  color: #020921;
}

.swiper-button-next {
  right: 0;
  top: 30px;
  left: auto;
  color: #404B48;
}
.swiper-button-next:after {
  font-size: 24px;
}

.swiper-button-prev {
  right: 30px;
  top: 30px;
  left: auto;
  color: #404B48;
}
.swiper-button-prev:after {
  font-size: 24px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -10px;
}

.tab-pane {
  padding-top: 30px;
}
