body {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  letter-spacing: 0.01em;
  color: #DDDACE;
}

.card {
  color: #505050;
}

.title {
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  color: #40a9e7;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-family: interstate-mono, monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.meta {
  font-size: 16px;
  font-weight: 400;
  font-family: interstate-mono, monospace;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.halflineheight {
  line-height: 21px;
}

a {
  color: #40a9e7;
  text-decoration: none;
}
a:hover {
  color: #EFEFEF;
}
a.underline {
  border-bottom: solid 3px #19ad89;
  padding-bottom: 3px;
}

.bold {
  font-weight: 600;
  font-size: 1.2em;
}

.link {
  color: #40a9e7;
  font-weight: 600;
}

body {
  background-color: #020921;
  overflow-x: hidden;
  background-image: url("/assets/img/background.svg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.news-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  min-height: 500px;
  box-shadow: rgba(80, 85, 89, 0.1411764706) 0 3px 30px 2px;
  transition: all 0.5s;
}
.news-item:hover {
  color: inherit;
  translate: 0 -3px;
  transition: all 0.5s;
}
.news-item:hover p {
  text-decoration: underline;
}
.news-item:hover .meta {
  text-decoration: none;
}

.news-item_small .news-item_image {
  height: 100%;
  border-bottom: none;
}
.news-item_small:hover p {
  text-decoration: underline;
}
.news-item_small:hover .meta {
  text-decoration: none;
}

.news-item_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45%;
  width: 100%;
  border-radius: 3px;
  border-bottom: solid 3px #40E7B5;
}

.news-item_text {
  height: 55%;
  width: 100%;
  padding: 15px 30px;
  background-color: #f9f9f9;
  color: #505559;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-item_text:hover {
  background-color: white;
}

#homehero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  height: 45%;
}

#logo {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 9999;
}

#nav {
  height: 45px;
  background-color: #212529;
  border-radius: 3px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: right;
  z-index: 9999;
  position: fixed;
  top: 12px;
  right: 45px;
}
#nav li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 15px;
}
#nav li a {
  text-decoration: none;
}
#nav li a:hover {
  color: #EFEFEF;
}
#nav li .active {
  color: #EFEFEF;
}

.navbar-expand-md .navbar-nav {
  flex-direction: column;
}

.nav-link {
  color: #40a9e7;
}

.breadcrumbs {
  position: fixed;
  right: -150px;
  transform: rotate(-90deg);
  top: 285px;
}

.pop {
  color: #e7d1ac;
}

.dimmer {
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.3;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

#brand-partners {
  background-color: white;
  color: #505559;
  padding: 30px 60px;
  border-radius: 30px;
}
#brand-partners .meta {
  color: #404B48;
}

.brandlogo {
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.brandlogo:hover {
  translate: 0 -3px;
  transition: all 0.5s;
}

.darksection {
  background-color: hsla(220deg, 82%, 2%, 0.47);
  padding: 60px 0;
}

.lightsection {
  background-color: #EFEFEF;
  padding: 60px 0;
}
.lightsection a {
  color: #505559;
}
.lightsection h1, .lightsection .meta {
  color: #212529;
}

.reversetext {
  color: #505559;
}
.reversetext a {
  color: inherit;
}

.box {
  background-color: hsla(220deg, 82%, 2%, 0.47);
  padding: 60px 50px;
  width: 541px;
  position: absolute;
  left: 150px;
  bottom: -15%;
  border-radius: 3px;
}

.fadeout {
  background: linear-gradient(180deg, rgba(11, 25, 52, 0) 0%, #0B1934 100%);
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.topspacer {
  margin-top: 160px;
}

.topspacer_large {
  margin-top: 218px;
}

.spacer {
  margin-bottom: 60px;
}

.spacer_small {
  margin-bottom: 30px;
}

.spacer_large {
  margin-bottom: 120px;
}

.page-spacer {
  margin-bottom: 144px;
}

.verticalEmphasis {
  border-left: solid 6px #40E7B5;
  padding-left: 15px;
}

.card {
  height: auto;
}

.featuredcard {
  border-radius: 3px;
  background-color: white;
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
}
.featuredcard:hover {
  background-size: 110%;
  transition: all 0.5s;
}

.productCard {
  padding: 18px 20px 30px 20px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}
.productCard:hover {
  translate: 0 -3px;
  transition: all 0.5s;
  box-shadow: rgba(80, 85, 89, 0.1411764706) 0 3px 30px 2px;
}

.truncate {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  transition: all 1s;
}

.fader {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EFEFEF 100%);
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

#expand {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
  color: #40a9e7;
  font-weight: 800;
}

#collapse {
  cursor: pointer;
  color: #40a9e7;
  font-weight: 800;
}

.hide {
  display: none;
  transition: all 1s;
}

.tape {
  background-color: rgba(255, 255, 255, 0.86);
  background-color: #40a9e7;
  padding: 18px 15px;
  z-index: 9999;
  display: inline-block;
  margin-bottom: 18px;
  color: #020921;
}

.swiper-button-next {
  right: 0;
  top: 30px;
  left: auto;
  color: #404B48;
}
.swiper-button-next:after {
  font-size: 24px;
}

.swiper-button-prev {
  right: 30px;
  top: 30px;
  left: auto;
  color: #404B48;
}
.swiper-button-prev:after {
  font-size: 24px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -10px;
}

.tab-pane {
  padding-top: 30px;
}

footer {
  background-color: #40a9e7;
  padding: 60px 0;
}
