body {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 167% */
  letter-spacing: 0.01em;
  color: #a6aac5;
}

.card {
  color: #505050;
}

.title {
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  color: #4363f3;
  color: #a6aac5;
}

h1 {
  font-size: 72px;
  line-height: 84px;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-family: interstate-mono, monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.meta {
  font-size: 13px;
  font-weight: 300;
  font-family: interstate-mono, monospace;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.nav-link .meta {
  font-weight: 600;
}

.halflineheight {
  line-height: 21px;
}

a {
  color: #bbb7df;
  text-decoration: none;
}
a:hover {
  color: #EFEFEF;
}
a.underline {
  border-bottom: solid 3px #bbb7df;
  padding-bottom: 3px;
}

.bold {
  font-weight: 600;
  font-size: 1.2em;
}

.link {
  color: #bbb7df;
  font-weight: 600;
}

body {
  background-color: #020921;
  background-image: url("/assets/img/background.svg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ececec;
  background-color: #f6f7ff;
  background-color: #262936;
  background-image: none;
}

.topspacer_small {
  margin-top: 90px;
}

.topspacer {
  margin-top: 184px;
}

.topspacer_large {
  margin-top: 42vh;
}

.spacer {
  margin-bottom: 60px;
}

.spacer_small {
  margin-bottom: 30px;
}

.spacer_large {
  margin-bottom: 120px;
}

.page-spacer {
  margin-bottom: 144px;
}

#news h1 {
  color: #a6aac5;
}
#news h2 {
  color: #5a5e74;
}
#news a {
  color: #dcdff1;
}
#news:hover {
  color: #4363f3;
}

.news-item_small {
  background-color: #414250;
  border-radius: 3px;
  transition: all 0.5s;
  margin-bottom: 15px;
  overflow: hidden;
}
.news-item_small .news-item_image {
  height: 100%;
  border-bottom: none;
}
.news-item_small:hover {
  color: inherit;
  transition: all 0.5s;
}
.news-item_small:hover p {
  text-decoration: underline;
}
.news-item_small:hover .meta {
  text-decoration: none;
}
.news-item_small .news-item_small_text {
  padding: 12px 6px;
}

.news-item {
  position: relative;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  padding-bottom: 120%;
  transition: all 0.5s;
}
.news-item:hover {
  color: inherit;
  transition: all 0.5s;
}
.news-item:hover p {
  text-decoration: underline;
}
.news-item:hover .meta {
  text-decoration: none;
}

.news-item_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 65%;
  width: 100%;
}

.news-item_text {
  position: absolute;
  top: 65%;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 15px 30px;
  background-color: #414250;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-item_text:hover {
  background-color: #414250;
}

.news-item_main {
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 18px;
  width: 100%;
  padding-bottom: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
  overflow: hidden;
}
.news-item_main:hover {
  color: inherit;
  transition: all 0.5s;
}
.news-item_main:hover p {
  text-decoration: underline;
}
.news-item_main:hover .meta {
  text-decoration: none;
}

.news-item_main_title {
  position: absolute;
  bottom: 30px;
}

#homehero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  height: 45%;
}

#logo {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 9999;
}

#dealers {
  z-index: 10000000000000000000000000000000000000;
  position: relative;
}

#burgernav {
  position: fixed;
  z-index: 1000000000000000000000000000000000000000000000;
  top: 12px;
  right: 12px;
  background-color: red;
  height: 45px;
  width: 35px;
}
@media (min-width: 992px) {
  #burgernav {
    display: none;
  }
}

#mobilenavsheet {
  display: none;
  position: fixed;
  z-index: 100000000000000000000000000000000000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8f0f5;
}

.show {
  display: flex;
}

#nav {
  display: none;
}
@media (min-width: 992px) {
  #nav {
    height: 63px;
    background-color: #e8f0f5;
    /* border-radius: 3px; */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: right;
    z-index: 9999;
    position: fixed;
    padding-top: 12px;
    padding-left: 10px;
    top: 0;
    right: 0;
  }
  #nav li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0px 15px;
  }
  #nav li a {
    text-decoration: none;
  }
  #nav li a:hover {
    color: #414250;
  }
  #nav li .active {
    color: #bbb7df;
  }
}

.navbar-expand-md .navbar-nav {
  flex-direction: column;
}

.highlight {
  color: #bbb7df !important;
}

.purple {
  color: #6a77d1 !important;
}

.nav-link {
  color: #262936;
}

.breadcrumbs {
  position: fixed;
  right: -150px;
  transform: rotate(-90deg);
  top: 285px;
}

.pop {
  color: #e7d1ac;
}

.dimmer {
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.3;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

#brand-partners {
  color: #505559;
  padding: 30px 60px 90px 60px;
  border-radius: 30px;
}
#brand-partners .meta {
  color: #404B48;
}

.brandlogo {
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.brandlogo:hover {
  translate: 0 -3px;
  transition: all 0.5s;
}

.darksection {
  background-color: rgba(38, 41, 54, 0.9607843137);
  padding: 60px 0;
  position: relative;
}

.darkbackground {
  background-color: #020921;
  background-image: url("/assets/img/background.svg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.lightsection {
  background-color: #9da1a0;
  color: #262936;
  padding: 60px 0;
}
.lightsection a {
  color: #262936;
}
.lightsection h1, .lightsection .meta {
  color: #262936;
}

.reversetext {
  color: #505559;
}
.reversetext a {
  color: inherit;
}

.box {
  background-color: hsla(220deg, 82%, 2%, 0.47);
  padding: 60px 50px;
  width: 541px;
  position: absolute;
  left: 150px;
  bottom: -15%;
  border-radius: 3px;
}

.fadeout {
  background: linear-gradient(180deg, rgba(11, 25, 52, 0) 0%, #0B1934 100%);
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fadeout_bright {
  background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, rgb(249, 249, 249) 100%);
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.verticalEmphasis {
  border-left: solid 6px #40E7B5;
  padding-left: 15px;
}

.card {
  height: auto;
}

.featuredcard {
  border-radius: 3px;
  background-color: #e8f0f5;
  background-blend-mode: multiply;
  margin-bottom: 15px;
  width: 100%;
  padding-bottom: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
}

.productCard {
  padding: 0px 12px 24px 12px;
  margin-bottom: 24px;
  background-color: #dcdff1;
  color: #262936;
  border-radius: 3px;
  transition: all 0.3s;
}
.productCard:hover {
  transition: all 0.3s;
  background-color: white;
}

.truncate {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  transition: all 1s;
}

.fader {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EFEFEF 100%);
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

#expand {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
  color: #4363f3;
  font-weight: 800;
}

#collapse {
  cursor: pointer;
  color: #4363f3;
  font-weight: 800;
}

.hide {
  display: none;
  transition: all 1s;
}

.tape {
  background-color: rgba(255, 255, 255, 0.86);
  background-color: #bbb7df;
  padding: 18px 15px;
  z-index: 9999;
  display: inline-block;
  margin-bottom: 18px;
  color: #020921;
}

.swiper {
  padding-bottom: 30px;
}

.swiper-button-next {
  right: 0;
  top: 30px;
  left: auto;
  color: #00ffb9;
}
.swiper-button-next:after {
  font-size: 24px;
}

.swiper-button-prev {
  right: 30px;
  top: 30px;
  left: auto;
  color: #00ffb9;
}
.swiper-button-prev:after {
  font-size: 24px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0px;
}

.tab-pane {
  padding-top: 30px;
}

footer {
  background-color: #dcdff1;
  padding: 60px 0;
  mix-blend-mode: difference;
}

.productpageimage {
  position: fixed;
  top: 90px;
  left: 20px;
  width: 50vw;
  height: 86vh;
  /* opacity: 0.7; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-blend-mode: multiply;
}

.rightcol {
  position: relative;
  left: 50%;
  top: 0;
  padding: 10vw 5vw;
  width: 50%;
}
