<div class="container topspacer">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
            
            <p>{{blurb}}</p>
            
            {{taxonomy:brands}}
                <a href="{{url}}"><h1>{{title}}</h1></a>
                <div class="row spacer">
                    <h3>Recent {{title}} news and reviews:</h3>
                    {{collection:news_and_reviews is_this_news_or_review_brand-related:contains="{title}"}}     
                        <div class="col-md-3">
                            <a href="{{url}}">{{partial:newsItem}}</a>
                        </div>     
                        
                    {{/collection:news_and_reviews}}
                </div>
                
            {{/taxonomy:brands}}
        </div>
    </div>
    
</div>
