<!-- <div style="height: 70vh; width: 100%; z-index: -999; position: relative; background: url({{hero_image}}) center / cover;"></div> -->
<div style="height: 50%; width: 100%; position: absolute; top: 0; left: 0; z-index: -9999; opacity: .8; background: url({{hero_image}}); background-position: center; background-size: cover; z-index: -999;"><div class="fadeout"></div></div>

<div class="container topspacer">
    <div class="row">
        <div class="col-lg-10 offset-md-1 page-spacer topspacer reversetext" style="background-color: rgb(255, 255, 255); border-radius: 3px;">
            <section id="intro" class="page-spacer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="spacer" style="margin-top: 90px;">
                                    <img src="{{logo}}" width="50%" alt="{{title}}">
                                </div>
                                <h2>{{byline}}</h2>
                                <div id="brandblurb" class="truncate">
                                    {{blurb}}
                                    <div id="expand" class="caption light">+ show more</div>
                                    <div id="collapse" class="caption light hide">- show less</div>
                                    <div class="fader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <div class="row">
                <div class="col-lg-5 offset-lg-1">
                    <h2 class="spacer_small">Featured <span style="font-weight: 800;">{{title}}</span> products</h2>
                    {{makers_of}}
                        {{if makers_of > 1}}
                            <p class="meta">{{title}}</p>
                        {{else}}
                        {{/if}}
                        <div class="spacer">
                            {{collection:products :brands:contains="last_segment" :taxonomy:product_type="slug" sort="{pricing}"}}
                                {{partial:_brandherolockup hero_image="{images:0:url}"}}
                                    <p class="meta">${{pricing}}</p>
                                    <p style="height: 2em;">{{product_tagline}}</p>
                                {{/partial:_brandherolockup}}
                            {{/collection:products}}
                        </div>
                    {{/makers_of}}
                </div>
                <div class="col-lg-5">
                    <section id="in-the-news" class="page-spacer">
                        <div class="row">
                            <h2 class="spacer_small">Recent <span style="font-weight: 800;">{{title}}</span> News and Reviews</h2>
                            {{collection:news_and_reviews is_this_news_or_review_brand-related:contains="{title}" sort="date:desc"}}
                            <a href="{{url}}">
                                <div class="row spacer_small news-item_small">
                                    <div class="col-md-4">
                                        <div class="news-item_image" style="background-image: url({{image}});"></div>
                                    </div>
                                    <div class="col-md-8">
                                        <p class="meta">{{article_type:title}}</p>
                                        <p style="font-weight: 600; margin-bottom:0;">{{title}}</p>
                                        {{date}}
                                    </div>
                                </div>
                            </a>
                            {{/collection:news_and_reviews}}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    

    
</div>


    {{partial:_dealers sell="{title}"}}

    {{partial:footer}}


    
<script>
    $(document).ready(function(){
        $('#expand').click(function(){
            $("#brandblurb").removeClass("truncate");
            $("#collapse").removeClass("hide");
            $("#expand").addClass("hide");
            $(".fader").addClass("hide");
        });
        $('#collapse').click(function(){
            $("#brandblurb").addClass("truncate");
            $("#collapse").addClass("hide");
            $("#expand").removeClass("hide");
            $(".fader").removeClass("hide");
        });
    });
</script>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".dealerSwiper", {
      slidesPerView: 2.5,
      spaceBetween: 30,
      navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>