<div style="height: 70vh; width: 100%; z-index: -999; position: relative; background: url({{hero_image}}) center / cover;"></div>
<div class="container" style="margin-top: -30px;">
    <section id="intro" class="page-spacer">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 offset-md-1">
                        {{partial:tape line="{title}"}}
                        <div class="title" style="z-index: 99; position: relative; margin-bottom: 54px;">{{byline}}</div>
                        <p>{{blurb}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="products" class="page-spacer">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align: center;" class="spacer_small">Featured <span style="font-weight: 800;">{{title}}</span> products</h1>
                {{makers_of}}
                    {{partial:tape line="{title}"}}
                    <div class="swiper mySwiper" style="padding-top: 78px; margin-top: -78px;">
                        <div class="swiper-wrapper">
                        {{collection:products :brands:contains="last_segment" :taxonomy:product_type="slug" sort="{pricing}"}}
                            <div class="swiper-slide">
                                {{partial:_brandherolockup hero_image="{images:0:url}"}}
                                <p class="meta">${{pricing}}</p>
                                <p style="height: 2em;">{{product_tagline}}</p>
                                {{/partial:_brandherolockup}}
                            </div>
                        {{/collection:products}}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                {{/makers_of}}
            </div>
        </div>
    </section>

    <section id="in-the-news" class="page-spacer">
        <div class="row">
            <h1 style="text-align: center;" class="spacer_small">Recent <span style="font-weight: 800;">{{title}}</span> news and reviews</h1>
            {{collection:news_and_reviews is_this_news_or_review_brand-related:contains="{title}" sort="date:desc"}}
                <div class="col-md-3">
                    <a href="{{url}}">{{partial:newsItem}}</a>
                </div>
            {{/collection:news_and_reviews}}
        </div>
    </section>
</div>


    {{partial:_dealers sell="{title}"}}

    {{partial:footer}}

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

 <!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2.5,
      spaceBetween: 30,
      navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
    var swiper = new Swiper(".dealerSwiper", {
      slidesPerView: 2.5,
      spaceBetween: 30,
      navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>