<div style="height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: -9999; opacity: .4; background: url({{collection:musical_heroes sort='random' limit='1'}}{{assets_field}}{{/collection:musical_heroes}}); background-position: top; background-size: cover; z-index: -999;"><div class="fadeout"></div></div>

<section id="news" class="page-spacer" style="margin-top: 45vh;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 spacer_small" style="text-align: center;">
                <h1>News & Reviews</h1>
            </div>
        </div>
        <div class="row spacer_small">
            <div class="col-md-8">
                {{collection:news_and_reviews limit="1" sort="date:desc"}}
                    <a href="{{url}}">
                        <div style="border: solid thin white; border-radius: 3px; position: relative; display: flex; flex-direction: column; justify-content: end; padding-bottom: 18px; width: 100%; height: 600px; background-image: url({{image}}); background-size: cover; background-repeat: no-repeat; background-position: center;">
                            <div style="padding: 15px 30px; z-index: 99;">
                                <p class="meta">{{article_type:title}}</p>
                                <h2 style="margin-bottom:0;">{{title}}</h2>
                                {{date}}
                            </div>
                            <div class="fadeout"></div>
                        </div>
                    </a>
                {{/collection:news_and_reviews}}
            </div>
            <div class="col-md-4">
                {{collection:news_and_reviews sort="date:desc" offset="1" limit="1"}}
                <a href="{{url}}">
                    {{partial:newsItem}}
                </a>
                {{/collection:news_and_reviews}}
            </div>
        </div>
        <div class="row">
            {{collection:news_and_reviews sort="date:desc" offset="2"}}
                <div class="col-md-4 spacer_small">
                    <a href="{{url}}">
                        {{partial:newsItem}}
                    </a>
                </div>
            {{/collection:news_and_reviews}}
        </div>
    </div>
</section>

{{partial:footer}}