<section style="position: relative;" class="darkbackground">
    <div style="height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: -9999; opacity: 1; filter: blur(9px); background: url({{collection:musical_heroes sort='random' limit='1'}}{{assets_field}}{{/collection:musical_heroes}}); background-position: top; background-size: cover; z-index: -999;"><div class="fadeout"></div></div>

    <div class="container page-spacer">
    <!-- <div class="row topspacer spacer_large">
        <div class="col-sm-12" style="text-align: center;">
            <a href="{{parent}}">
                <h2>{{parent:title}}</h2>
            </a>
        </div>
    </div> -->
    <div class="row topspacer_large">
        <div class="col-lg-7 spacer_small">
            <h4 class="light">{{article_type:title}}</h4>
            <h1>{{title}}</h1>
            <h5 class="light spacer_small">{{date}}</h5>
            <img src="{{image}}" width="100%" class="spacer_small" style="border-radius: 3px;" alt="{{title}}">
            <div class="row">
                <div class="col-md-10 spacer_small light">
                    {{content}}
                </div>
                <div class="col-md-10">
                    {{more_content}}
                        {{ if type == "text" }}
        
                        <div class="text spacer_small">
                            {{ text }}
                        </div>
                
                        {{ elseif type == "image" }}
                
                        <div class="row spacer_small">
                            {{photo}}
                            <div class="col">
                                <figure>
                                    <img src="{{ url }}" width="100%" style="margin-bottom: 6px;" alt="{{ caption }}" />
                                    <figcaption style="max-width: 66%;">{{ caption }}</figcaption>
                                </figure>
                            </div>
                            {{/photo}}
                        </div>
                
                        {{ /if }}
                    {{/more_content}}
                </div>
            </div>
        </div>
        <div id="news" class="col-lg-4 offset-md-1 topspacer_large">
            <h2 class="spacer_small light">Recent {{is_this_news_or_review_brand-related:0:title}} news and reviews</h2>
            {{collection:news_and_reviews is_this_news_or_review_brand-related:contains="{is_this_news_or_review_brand-related:0:title}" sort="date:desc" :id:not="id"}}
                {{if no_results}}
                    No other news or reviews for this brand currently.
                {{else}}
                <a href="{{url}}">
                    <div class="news-item_small">
                        <div class="row">
                            <div class="col-md-4" style="position: relative;">
                                <div class="news-item_image" style="background-image: url({{image}});"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="news-item_small_text">
                                    <h4>{{article_type:title}}</h4>
                                    <h3>{{title}}</h3>
                                    <h5>{{date}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {{/if}}
            {{/collection:news_and_reviews}}
            <p class="meta spacer"><a href="/news-reviews">See all news and reviews</a></p>
            
   
            
        </div>
    </div>
</div>
</section>